/* .background-paper {
  background-image: url("../public/white-paper-texture.jpg");
  background-color: #FEFAE0;
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.5;
} */
/* .background-color {
  background-color: #fefae0;
} */

.background-paper {
  background-image: url("../public/paper-texture.jpg");
  background-color: #fefae0;
  background-repeat: repeat;
  background-size: 100%;
  /* background-size: cover; */
  background-position: center;
  /* opacity: 0.5; */
}

@font-face {
  font-family: "Cormorant-LightItalic";
  src: url("font/CormorantGaramond-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant-Italic";
  src: url("font/CormorantGaramond-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Vivaldi";
  src: url("font/Vivaldi.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant-Regular";
  src: url("font/CormorantGaramond-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Neue";
  src: url("font/HelveticaNeueCyr-Roman.ttf") format("truetype");
}

/* -------------------------------------------------------------------------- */
/*                                 new typeset                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------- subhead1 -------------------------------- */
@font-face {
  font-family: "Crimson-R";
  src: url("font/CrimsonText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson-B";
  src: url("font/CrimsonText-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson-I";
  src: url("font/CrimsonText-Italic.ttf") format("truetype");
}

/* ----------------------------- invitation font ---------------------------- */
@font-face {
  font-family: "Delafield";
  src: url("font/MrsSaintDelafield-Regular.ttf") format("truetype");
}

/* --------------------------------- script2 -------------------------------- */
@font-face {
  font-family: "Hello";
  src: url("font/Hello.ttf") format("truetype");
}

/* ------------------------------- big letters ------------------------------ */

@font-face {
  font-family: "Birthstone";
  src: url("font/BirthstoneBounce-Regular.ttf") format("truetype");
}

/* ----------------------------------- and ---------------------------------- */

@font-face {
  font-family: "Melinda";
  src: url("font/Melinda-Script.ttf") format("truetype");
}
